<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.onsets.school">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FeeListActivity" />
        <activity android:name=".EditStudentActivity" />
        <activity android:name=".EditClassActivity" />
        <activity android:name=".EditCourseActivity" />
        <activity android:name=".CourseSelectionActivity" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".ResultListActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".MainDashboardActivity" />
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".CoursesListActivity" />
        <activity android:name=".StudentsListActivity" />
        <activity android:name=".AddStudentActivity" />
        <activity
            android:name=".ClassDashboardActivity"
            android:label="@string/title_activity_class_dashboard" />
        <activity android:name=".AddClassActivity" />
        <activity android:name=".ClassesActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>